<%- include ('partials/header') %>


<div class="container text-center mt-5">
  <h1 class="display-4 mb-3">Welcome to Yelpcamp Lagos</h1>
  <p class="lead mb-4">Discover the best campgrounds around Lagos</p>
  <a href="/campgrounds" class="btn btn-primary btn-lg">
    Visit Campgrounds →
  </a>
</div>


<%- include ('partials/footer') %>
